---
import { span } from 'framer-motion/m';

interface CardQuizInterface {
    badge?: string;
    title?: string;
    titleHighlight?: string;
    description1?: string;
    description2?: string;
    videoSrc?: string;
    videoPoster?: string;
    backgroundColor?: string;
    titleButton?: string;
}


interface Props {
    cardQuiz: CardQuizInterface;
}

const {
    cardQuiz
} = Astro.props;
---

<section class="hidden md:block lg:block w-full py-6 md:py-12 px-4 md:px-8 lg:-mt-[100px] md:-mt-[90px]">
    <div class="max-w-7xl mx-auto">
        <div
            class="bg-[#0041CD] rounded-[20px] md:rounded-[20px] shadow-xl p-6 md:p-8 lg:p-12"
        >
            <div
                class="flex flex-col lg:flex-row items-center gap-6 md:gap-8 lg:gap-12"
            >
                <!-- image Container -->
                <div class="w-full lg:w-1/2">
                    <div
                        class="rounded-[20px] md:rounded-[20px] flex items-center justify-center shadow-lg overflow-hidden aspect-video"
                        style={`background-color: ${cardQuiz.backgroundColor}`}
                    >
                        <img 
                            class="w-full h-full object-cover"
                            src="/images/es/card/image.jpg" 
                            alt="image que ranchita eres" />
                    </div>
                </div>

                <!-- Contenido de texto -->
                <div class="w-full lg:w-1/2 space-y-4 md:space-y-6">
                    <!-- Título con dos colores -->
                    <h1
                        class="text-[49px] font-bold"
                    >
                        <span class="text-white text-[59px] font-bold leading-none">{cardQuiz.title} </span>
                        <br />
                        <span class="text-white text-[59px] font-bold leading-none">{cardQuiz.titleHighlight}</span>
                     </h1>

                    <!-- Descripción párrafo 1 -->
                    <p
                        class="text-white text-sm md:text-base lg:text-lg leading-relaxed"
                    >
                        {cardQuiz.description1}
                    </p>

                    <button class="bg-white text-white text-[19px] px-5 py-2 rounded-full font-bold w-full bg-[#009DDA]">
                        {cardQuiz.titleButton}
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="block md:hidden px-6 py-8 mx-auto max-w-[350px] -mt-[100px]">
    <div class="bg-[#0041CD] rounded-3xl p-6 space-y-6">
        
        <div class="w-full">
            <div
            class="rounded-[20px] flex items-center justify-center shadow-lg overflow-hidden h-[320px]"
                style={`background-color: ${cardQuiz.backgroundColor}`}
            >
            <img 
                class="w-full h-full object-cover"
                src="/images/es/card/image.jpg" 
                alt="image que ranchita eres" 
            />
            </div>
        </div>
      <h2 class="text-4xl font-extrabold leading-tight mt-6">
        <span class="text-white">{cardQuiz.title} </span> <br />
        <span class="text-white">{cardQuiz.titleHighlight}</span>
      </h2>
  
      <p class="text-white text-base leading-relaxed">
        {cardQuiz.description1}
      </p>

      <button class="bg-white text-white text-[19px] px-5 py-2 rounded-full font-bold w-full bg-[#009DDA]">
        {cardQuiz.titleButton}
    </button>
  
    </div>
</section>
  
  
