---
import { Image } from 'astro:assets';

interface textHome {
  since: string;
  title: string;
  subtitle: string;
  description: string;
  descrition2: string;
  button: string;
  button2: string;
}

interface Props {
  textHome: textHome;
}

const { textHome } = Astro.props;
---

<div class="home-container bg-primaryCream flex items-center">
  <div class="max-w-[1400px] mx-auto w-full flex items-center justify-between px-10 flex flex-col sm:flex-row ">

    <!-- TEXT CONTENT -->
    <div class="md:w-1/2 lg:w-1/2 lg:mb-0 md:mb-0 mb-16">
      <p class="text-[#D99D3C] text-lg font-semibold">{textHome.since}</p>

      <h1 class="text-[40px] md:text-[60px] lg:text-[80px] font-black uppercase  leading-none">
        {textHome.title} <br/>
        {textHome.subtitle}
      </h1>
      <p class="text-lg text-black w-[320px] md:max-w-[310px] md:w-full lg:w-full lg:max-w-[600px] mt-6  leading-[22px]">
        {textHome.description} <br class="md:hidden lg:block hidden"/> {textHome.descrition2}
      </p>

      <div class="flex items-center gap-4 mt-6 leading-none">
        <a 
          href="#"
          class="bg-redButton text-white px-12 py-3 md:px-8 lg:px-8 md:py-3 lg:py-3 rounded-full font-semibold shadow-md hover:opacity-90 transition"
        >
          {textHome.button}
        </a>
        <a 
          href="#"
          class="border border-redButton text-redButton px-9 py-3 md:px-8 lg:px-8 md:py-3 lg:py-3 rounded-full font-semibold hover:bg-redButton/10 transition"
        >
          {textHome.button2}
        </a>
      </div>
    </div>

    <div class="relative md:w-1/2 lg:w-1/2 flex justify-center">
      <img 
        src="/images/es/products/product2.png" 
        alt="Ranchitas Nacho" 
        class="w-[250px] md:w-[320px] lg:w-[500px] rotate-[-13deg]"
      />

      <img 
        src="/images/es/products/product1.png" 
        alt="Ranchitas Nacho Picante" 
        class="w-[150px] bottom-[-60px] right-[130px] md:w-[169.90px] lg:w-[247px] absolute md:bottom-[-49px] lg:bottom-[-52px] md:right-[185px] lg:right-[340px] md:w-[200px]"
      />
    </div>
  </div>
</div>

<style>
  .home-container {
    height: 850px;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .home-container {
      height: 600px;
    }
  }

  @media (max-width: 767px) {
    .home-container {
      height: 800px;
    }
  }
</style>
