---
import { Image } from 'astro:assets';

interface textHome {
  since: string;
  title: string;
  subtitle: string;
  description: string;
  descrition2: string;
  button: string;
  button2: string;
}

interface Props {
  textHome: textHome;
}

const { textHome } = Astro.props;
---

<div class="home-container bg-primaryCream flex items-center">
  <div class="max-w-[1400px] mx-auto w-full flex items-center justify-between px-4 sm:px-6 md:px-10 flex flex-col sm:flex-row ">

    <!-- TEXT CONTENT -->
    <div class="md:w-1/2 xl:w-1/2 xl:mb-0 md:mb-0 mb-12 sm:mb-16">
      <p class="text-[#D99D3C] text-base sm:text-lg font-semibold">{textHome.since}</p>

      <h1 class="text-[36px] sm:text-[40px] md:text-[60px] xl:text-[80px] font-black uppercase  leading-none">
        {textHome.title} <br/>
        {textHome.subtitle}
      </h1>
      <p class="text-base sm:text-lg text-black w-full max-w-[340px] sm:w-[320px] md:max-w-[310px] md:w-full xl:w-full xl:max-w-[600px] mt-4 sm:mt-6  leading-[22px]">
        {textHome.description} <br class="md:hidden xl:block hidden"/> {textHome.descrition2}
      </p>

    </div>

    <div class="relative md:w-1/2 xl:w-1/2 flex justify-center">
      <img 
        src="/images/es/products/product2.png" 
        alt="Ranchitas Nacho" 
        class="w-[250px] md:w-[320px] xl:w-[500px] rotate-[-13deg]"
      />

      <img 
        src="https://snack.yummiespromociones.com/SnacksyummiesAssets/ranchitas-nacho-exitante-2.webp" 
        alt="Ranchitas Nacho Picante" 
        class="w-[150px] bottom-[-60px] right-[130px] md:w-[169.90px] xl:w-[247px] absolute md:bottom-[-49px] xl:bottom-[-52px] md:right-[185px] xl:right-[340px] md:w-[200px]"
      />
    </div>
  </div>
</div>

<style>
  .home-container {
    height: 850px;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .home-container {
      height: 600px;
    }
  }

  @media (max-width: 767px) {
    .home-container {
      height: 800px;
    }
  }
</style>
