---
import GoogleTagManager from '../components/common/GoogleTagManager.astro';
import Favicon from '../components/Favicon.astro';
import { type Locale } from '../i18n/i18n';
import Header from '../components/common/Header/index.astro';
import Footer from '../components/common/Footer/index.astro';
import MobileMenu from '../components/common/MobileMenu/index.astro';
import WhereToBuyModal from '../components/common/WhereToBuyModal.astro';
import I18nProvider from '../components/i18n/I18nProvider.astro';
import { routesConfig } from '../config/routes';
import { getHeaderColors } from '../config/headerColors';
import SEO from '../components/SEO.astro';
import { ViewTransitions } from 'astro:transitions';
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  class?: string;
  headerColors?: {
    backgroundColor?: string;
    textColor?: string;
  };
}

const { title, description, class: className, headerColors } = Astro.props;

const pathSegments = Astro.url.pathname.split('/');
const langFromUrl = pathSegments[1] as Locale;
const validLocales: Locale[] = ['es', 'en'];
const currentLang = validLocales.includes(langFromUrl) ? langFromUrl : 'es';

const canonicalUrl = `https://ranchitas.com${Astro.url.pathname}`;

const { pathname } = Astro.url;
const shouldHideHeader = pathname.startsWith('/es/resultados') || pathname.startsWith('/en/results');

const headerColorConfig = getHeaderColors(pathname);

let customHeaderConfig = headerColorConfig;
if (headerColors) {
  customHeaderConfig = {
    ...headerColorConfig,
    backgroundColor: headerColors.backgroundColor ? `bg-[${headerColors.backgroundColor}]` : headerColorConfig.backgroundColor,
    textColor: headerColors.textColor ? headerColors.textColor : headerColorConfig.textColor,
  };
}
---
<html lang={currentLang}>
  <head>
    <GoogleTagManager />
    <Favicon />

    <SEO
      currentLang={currentLang}
      title={title}
      description={description}
      canonicalUrl={canonicalUrl}
      pathname={Astro.url.pathname}
    />
    <ViewTransitions />
    <slot name="head" />
  </head>
  <body class={`font-sans min-h-screen flex flex-col ${className || ''}`}>
    <I18nProvider>
      {!shouldHideHeader && (
        <slot name="header">
          <Header currentLang={currentLang} headerColors={headerColors} />
        </slot>
      )}
      
      <main class="flex-1 flex flex-col overflow-hidden">
        <slot />
      </main>
      {!shouldHideHeader && (
        <slot name="footer">
        <Footer currentLang={currentLang} />
        </slot>
      )}
    </I18nProvider>
    
    <MobileMenu currentLang={currentLang} headerColorConfig={customHeaderConfig} />
    <WhereToBuyModal currentLang={currentLang} />
  </body>
</html>